<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Header ======= -->
<nav th:fragment="menu" class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top py-3">
    <div class="container">
        <a th:href="@{/}" class="navbar-brand">
            <i class="bi bi-instagram"></i> InstaAccounts
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/accounts}">Top Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary mx-lg-2" th:href="@{/api/accounts/login}">
                        Sign-in
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary mt-2 mt-lg-0" th:href="@{/api/accounts/add-account}">
                        Sign-up
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- ======= Footer ======= -->
<div th:fragment="footer" class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead"><i class="bi bi-instagram"></i> InstaAccounts &copy; 2022</p>
        <a href="#github" class="text-white">
            <i class="bi bi-github h2"></i>
        </a>
        <a href="#" class="position-absolute top-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>
</div>

</html>