<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InstaAccount</title>
    <link rel="stylesheet" th:href="@{~/css/styles.css}">
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
</head>
<body>
<h1>Instagram Account</h1>
<div>
    <ul id="menu">
        <li><a class="link-button" href="/api/accounts">Back</a></li>
        <li><a class="link-button" href="/api/accounts/add-account">New account</a></li>
        <li><a class="link-button" href="/api/accounts/login">Login</a></li>
    </ul>
</div>
<div>
    <p class="centre">
        <img class="profile-img" th:src="${account.getProfilePhoto()}" alt="profile photo"/>
        Account: <span th:text="${account.getAccountName()}"></span><br>
        User: <span th:text="${account.getUserName()}"></span><br>
        Posts: <span th:text="${account.getPostCount()}"></span><br>
        Followers: <span th:text="${account.getFollowersCount()}"></span><br>
        Following: <span th:text="${account.getFollowingCount()}"></span><br>
    </p>
</div>
<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
</body>
</html>