<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InstaAccounts</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
<h1>Instagram Accounts</h1>
<div>
    <ul id="menu">
        <li><a class="link-button" href="/api/accounts/add-account">New account</a></li>
        <li><a class="link-button" href="/api/accounts/login">Login</a></li>
    </ul>
</div>
<div th:each="account: ${accounts}">
    <p class="centre">
        <a th:href="@{/api/accounts/{account}(account=${account.getAccountName()})}">
            <img th:src="${account.getProfilePhoto()}" alt="profile photo"/>
        </a>
        Account: <span th:text="${account.getAccountName()}"></span><br>
        User: <span th:text="${account.getUserName()}"></span><br>
        Posts: <span th:text="${account.getPostCount()}"></span><br>
        Followers: <span th:text="${account.getFollowersCount()}"></span><br>
        Following: <span th:text="${account.getFollowingCount()}"></span><br>
    </p>
</div>
</body>
</html>