<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InstaAccount</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Instagram Account</h1>
<div th:insert="fragments/general :: menu"></div>

<div>
    <p class="centre">
        <img class="profile-img" th:src="${account.getProfilePhoto()}" alt="profile photo"/>
        Account: <span th:text="${account.getAccountName()}"></span><br>
        User: <span th:text="${account.getUserName()}"></span><br>
        Posts: <span th:text="${account.getPostCount()}"></span><br>
        Followers: <span th:text="${account.getFollowersCount()}"></span><br>
        Following: <span th:text="${account.getFollowingCount()}"></span><br>
    </p>
</div>

<div th:insert="fragments/general :: footer"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>